<div class="">
    <div class="flexbox flexbox--row flexbox--c tree__item" (click)="select(tree.get())">
        <div class="flex">{{tree.get().getName()}}</div>
        <div class="flexbox flexbox--row">
            <div toggle class="gap-h">
                <div class="clickable clickable--object flexbox flexbox--cc">+</div>
                <div #toToggle class="options" style="display: none;">
                    <div *ngFor="let nodeFactoryName of nodeFactories" class="options__item" (click)="add(nodeFactoryName)">{{nodeFactoryName}}</div>
                </div>
            </div>
            <div (click)="remove(tree)" class="clickable clickable--object gap-h flexbox flexbox--cc"><span class="rotate-45">+</span></div>
        </div>
    </div>
    
    <div>
        <treeNavigation [tree]="child" *ngFor="let child of tree.getChildren()"></treeNavigation>
    </div>
</div>