body {
    font-family: Arial, Helvetica, sans-serif;
}

select, input {
    background-color: #fff;
    border: 1px solid #71ade9;;
    border-radius: 3px;
    padding: 3px 5px;
}

select:focus, input:focus {
    outline: none;
}

.flexbox {
    display: flex;
}

.flexbox--row {
    flex-direction: row;
}

.flexbox--column {
    flex-direction: column;
}

.flexbox--cc {
    place-content: center;
    align-items: center;
}

.flexbox--c {
    align-items: center;
}

.flex {
    flex: 1 1 auto;
}

.gap-h:not(:first-of-type) {
    margin-left: 5px;
}

.gap-v:not(:first-of-type) {
    margin-top: 5px;
}

.navigation {
    width: 300px;
}

.content {
    flex: 1 1 auto;
}

.clickable {
    cursor: pointer;
}

.clickable--object {
    border: 1px solid #71ade9;
    background-color: #fff;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    transition: background-color ease 200ms,
        transform ease 200ms
        color ease 200ms;
}

.clickable--object:hover {
    background-color: #71ade9;
    color: #fff;
}

.clickable--object:active {
    transform: scale(0.93);
}

.rotate-45 {
    transform: rotateZ(45deg);
}

.options {
    position: absolute;
    background-color: #fff;
    border: 1px solid #71ade9;
    z-index: 2;
}

.options__item {
    padding: 7px 10px;
    cursor: pointer;
}

.options__item:hover {
    background-color: #c4dffa;
}

.options__item:active {
    background-color: #71ade9;
}